
  <div class="card">
    <h3 class="card-header">Edit Ticket Type</h3>

      <form  >
        <div class="mb-3">
          <label class="form-label">Ticket Type Name</label>
          <input class="form-control" formControlName="fullName" />
        </div>
        <div class="mb-3">
          <label class="form-label">Price</label>
          <input class="form-control" formControlName="email" />
        </div>
        <div class="mb-3">
          <label class="form-label">Max Quantity</label>
          <input class="form-control" formControlName="organizationName" />
        </div>
        <div class="mb-3">
          <button class="btn btn-success" type="submit" routerLink="/organizer/setup-tickets">Save</button>
          <button type="button" class="btn btn-secondary ms-2" routerLink="/organizer/setup-tickets">
            Cancel
          </button>
        </div>
      </form>
    </div>
  


<ng-template #notfound>
  <div class="container mt-4">
    <div class="alert alert-warning">Organizer not found.</div>
    <a class="btn btn-secondary" routerLink="/admin/organizers">Back to organizers</a>
  </div>
</ng-template>
