.container { max-width: 700px; }

.main-background {
  background-image: url('../../../assets/clean-bg.png'); /* Adjust path as needed */
  background-size: cover; /* Covers the entire element */
  background-position: center top; /* Centers the image */
  background-repeat: no-repeat; /* Prevents repetition */
  height: 100vh; /* Example: full viewport height */
  
}

.btn-primary:active {
  background-color: #db0101;
}