<div class="seating-container">
  <img src="./assets/middle-foyer.png" alt="Seating Chart" class="seat-map-image" />

  <!-- Overlay circles -->

  <!-- Hidden image map for fallback -->
  <map name="seatmap">
    <div class="seat-overlays">
      <!-- VIP Section -->
      <div
        class="seat-circle available"
        style="left: 695px; top: 325px"
        (click)="onSeatClick('RIGHT_R1_S1')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 735px; top: 325px"
        (click)="onSeatClick('RIGHT_R1_S2')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 775px; top: 325px"
        (click)="onSeatClick('RIGHT_R1_S3')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 815px; top: 325px"
        (click)="onSeatClick('RIGHT_R1_S4')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 855px; top: 325px"
        (click)="onSeatClick('RIGHT_R1_S5')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 895px; top: 325px"
        (click)="onSeatClick('RIGHT_R1_S6')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 935px; top: 325px"
        (click)="onSeatClick('RIGHT_R1_S7')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 975px; top: 325px"
        (click)="onSeatClick('RIGHT_R1_S8')"
      ></div>

      <div
        class="seat-circle available"
        style="left: 695px; top: 365px"
        (click)="onSeatClick('RIGHT_R2_S1')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 735px; top: 365px"
        (click)="onSeatClick('RIGHT_R2_S2')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 775px; top: 365px"
        (click)="onSeatClick('RIGHT_R2_S3')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 815px; top: 365px"
        (click)="onSeatClick('RIGHT_R2_S4')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 855px; top: 365px"
        (click)="onSeatClick('RIGHT_R2_S5')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 895px; top: 365px"
        (click)="onSeatClick('RIGHT_R2_S6')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 935px; top: 365px"
        (click)="onSeatClick('RIGHT_R2_S7')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 975px; top: 365px"
        (click)="onSeatClick('RIGHT_R2_S8')"
      ></div>

      <div
        class="seat-circle available"
        style="left: 695px; top: 405px"
        (click)="onSeatClick('RIGHT_R3_S1')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 735px; top: 405px"
        (click)="onSeatClick('RIGHT_R3_S2')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 775px; top: 405px"
        (click)="onSeatClick('RIGHT_R3_S3')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 815px; top: 405px"
        (click)="onSeatClick('RIGHT_R3_S4')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 855px; top: 405px"
        (click)="onSeatClick('RIGHT_R3_S5')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 895px; top: 405px"
        (click)="onSeatClick('RIGHT_R3_S6')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 935px; top: 405px"
        (click)="onSeatClick('RIGHT_R3_S7')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 975px; top: 405px"
        (click)="onSeatClick('RIGHT_R3_S8')"
      ></div>

      <div
        class="seat-circle available"
        style="left: 695px; top: 445px"
        (click)="onSeatClick('RIGHT_R4_S1')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 735px; top: 445px"
        (click)="onSeatClick('RIGHT_R4_S2')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 775px; top: 445px"
        (click)="onSeatClick('RIGHT_R4_S3')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 815px; top: 445px"
        (click)="onSeatClick('RIGHT_R4_S4')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 855px; top: 445px"
        (click)="onSeatClick('RIGHT_R4_S5')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 895px; top: 445px"
        (click)="onSeatClick('RIGHT_R4_S6')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 935px; top: 445px"
        (click)="onSeatClick('RIGHT_R4_S7')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 975px; top: 445px"
        (click)="onSeatClick('RIGHT_R4_S8')"
      ></div>

      <div
        class="seat-circle available"
        style="left: 695px; top: 485px"
        (click)="onSeatClick('RIGHT_R5_S1')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 735px; top: 485px"
        (click)="onSeatClick('RIGHT_R5_S2')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 775px; top: 485px"
        (click)="onSeatClick('RIGHT_R5_S3')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 815px; top: 485px"
        (click)="onSeatClick('RIGHT_R5_S4')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 855px; top: 485px"
        (click)="onSeatClick('RIGHT_R5_S5')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 895px; top: 485px"
        (click)="onSeatClick('RIGHT_R5_S6')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 935px; top: 485px"
        (click)="onSeatClick('RIGHT_R5_S7')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 975px; top: 485px"
        (click)="onSeatClick('RIGHT_R5_S8')"
      ></div>

      <div
        class="seat-circle available"
        style="left: 695px; top: 525px"
        (click)="onSeatClick('RIGHT_R6_S1')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 735px; top: 525px"
        (click)="onSeatClick('RIGHT_R6_S2')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 775px; top: 525px"
        (click)="onSeatClick('RIGHT_R6_S3')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 815px; top: 525px"
        (click)="onSeatClick('RIGHT_R6_S4')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 855px; top: 525px"
        (click)="onSeatClick('RIGHT_R6_S5')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 895px; top: 525px"
        (click)="onSeatClick('RIGHT_R6_S6')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 935px; top: 525px"
        (click)="onSeatClick('RIGHT_R6_S7')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 975px; top: 525px"
        (click)="onSeatClick('RIGHT_R6_S8')"
      ></div>

      <div
        class="seat-circle available"
        style="left: 695px; top: 565px"
        (click)="onSeatClick('RIGHT_R7_S1')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 735px; top: 565px"
        (click)="onSeatClick('RIGHT_R7_S2')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 775px; top: 565px"
        (click)="onSeatClick('RIGHT_R7_S3')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 815px; top: 565px"
        (click)="onSeatClick('RIGHT_R7_S4')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 855px; top: 565px"
        (click)="onSeatClick('RIGHT_R7_S5')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 895px; top: 565px"
        (click)="onSeatClick('RIGHT_R7_S6')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 935px; top: 565px"
        (click)="onSeatClick('RIGHT_R7_S7')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 975px; top: 565px"
        (click)="onSeatClick('RIGHT_R7_S8')"
      ></div>

      <div
        class="seat-circle available"
        style="left: 695px; top: 605px"
        (click)="onSeatClick('RIGHT_R8_S1')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 735px; top: 605px"
        (click)="onSeatClick('RIGHT_R8_S2')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 775px; top: 605px"
        (click)="onSeatClick('RIGHT_R8_S3')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 815px; top: 605px"
        (click)="onSeatClick('RIGHT_R8_S4')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 855px; top: 605px"
        (click)="onSeatClick('RIGHT_R8_S5')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 895px; top: 605px"
        (click)="onSeatClick('RIGHT_R8_S6')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 935px; top: 605px"
        (click)="onSeatClick('RIGHT_R8_S7')"
      ></div>
      <div
        class="seat-circle available"
        style="left: 975px; top: 605px"
        (click)="onSeatClick('RIGHT_R8_S8')"
      ></div>
    </div>

    <!-- Add other areas as needed -->
  </map>
</div>
