* {
  font-family: monsterrat, sans-serif;
}

.card {
  background-color: rgba(255, 255, 255, 0.8); /* Make card semi-transparent */
  margin-top: 40px;
  padding: 24px;
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: none;
}

.page-title{
  font-weight: bold;
}

.text-center {
  text-align: center;
  font-weight: bold;
}

.btn-primary {
  background-color: #b11515;
  color: white;
  border: none;
}



